---
layout: page
title: Cabinet Alibert
description: Avocate au Barreau de Paris
background: '/img/home.jpeg'
---

<p>
Maître Juliette Alibert intervient, à vos côtés, principalement en droit public, en libertés fondamentales, en droit de la santé et du numérique et en droit pénal.
</p>

<p>
Diplômée de l’Université de Paris 1 Panthéon Sorbonne en Contentieux Public et de Sciences Po Bordeaux, Maître Juliette Alibert bénéficie d’une solide formation en droit public.
</p>

<p>
Dotée de ce double cursus, Maître Alibert accompagne ses clients en contentieux, conseil et stratégie juridique dans ses champs d’intervention, en alliant pragmatisme et efficacité pour répondre au mieux à leurs exigences.
</p>

<p>
Avant de prêter serment, elle s'est forgée une expérience en travaillant au sein d'entreprises privées, d’associations, d'administrations et de cabinets d’avocat à la Cour ou encore de cabinets spécialisés au Conseil d’État et à la Cour de Cassation.
</p>

<p>
Maître Juliette Alibert bénéficie d’une forte expertise tant sur les aspects pré-contentieux (conseil, recours gracieux), qu’en procédure d’urgence (référés) ou au fond.
</p>

<p>
Maître Juliette Alibert est particulièrement sensible à garantir les valeurs déontologiques attachées à sa profession et à assurer un haut cadre de confiance.
</p>

<p>
Elle est attachée à doter son exercice d’une dimension humaine pour répondre de façon individualisée aux demandes des clients mais également les conseiller et les défendre avec ferveur et dévouement. 
</p>
