---
layout: page
title: Actualité
description: La presse parle du cabinet
background: '/img/press.jpeg'
---

<p>
<strong>Référé liberté contre Doctolib porté par plusieurs associations de défense de patients, associations de défense des libertés fondamentales et syndicats de médecins :</strong>
</br>
- <a href="https://www.lemonde.fr/pixels/article/2021/03/08/campagne-de-vaccination-le-conseil-d-etat-appele-a-se-prononcer-sur-le-partenariat-avec-doctolib_6072319_4408996.html">[Le Monde] Campagne de vaccination : le Conseil d’Etat appelé à se prononcer sur le partenariat avec Doctolib</a>
</br>
- <a href="https://www.france24.com/fr/france/20210305-vaccination-les-donn%C3%A9es-de-sant%C3%A9-de-doctolib-suscitent-l-inqui%C3%A9tude-de-m%C3%A9decins">[France 24] Vaccination : les données de santé de doctolib suscitent l'inquiétude de médecins</a>
</br>
- <a href="https://www.euractiv.fr/section/economie/news/protection-des-donnees-la-france-devant-le-conseil-detat-pour-son-partenariat-avec-doctolib/">[Euractiv] 
Protection des données : la France devant le Conseil d’Etat pour son partenariat avec Doctolib</a>
</p>



<p>
<strong>Publications :</strong>
</br>
- <a href="https://documentation.ehesp.fr/index.php?lvl=author_see&id=306360">L'apport contrasté de la « Loi Sapin II » aux dispositifs de signalement et de protection des lanceurs d'alerte dans le secteur médico-social (2020)</a>

</br>
- <a href="https://journals.openedition.org/revdh/6317?lang=es">Première victoire d’un lanceur d’alerte en référé sous l’empire de la loi « Sapin II ».</a>
</p>
